In [2]:
import pandas as pd

Historical Coverage: The dataset includes detailed records from the early days of the Olympics, starting in Athens 1896, all the way through the 2024 Summer Games in Paris. It captures a wide array of events, sports, and athletes over time.

- player_id: Unique identifier for each athlete.
- Name: Name of the athlete.
- Sex: Gender of the athlete (Male (M) /Female (F)).
- Team: Country the athlete represented.
- NOC: National Olympic Committee code for the country.
- Year: Year of the Olympic Games.
- Season: Season of the Olympic Games (Summer).
- City: Host city of the Olympic Games.
- Sport: Sport category in which the athlete competed.
- Event: Specific event within the sport.
- Medal: Type of medal awarded (Gold, Silver, Bronze) or "No medal" if not awarded.

kaggle link: https://www.kaggle.com/datasets/stefanydeoliveira/summer-olympics-medals-1896-2024

In [2]:
olympics_dataset = pd.read_csv('Data/olympics_dataset.csv', sep=',', encoding='utf-8')

In [3]:
olympics_dataset.columns

Index(['player_id', 'Name', 'Sex', 'Team', 'NOC', 'Year', 'Season', 'City',
       'Sport', 'Event', 'Medal'],
      dtype='object')

In [4]:
olympics_dataset.shape

(252565, 11)

In [5]:
olympics_dataset['NOC'].unique()

array(['CHN', 'DEN', 'NED', 'FIN', 'NOR', 'ROU', 'EST', 'FRA', 'MAR',
       'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD', 'RUS',
       'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX', 'USA',
       'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ',
       'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA',
       'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM',
       'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR',
       'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO',
       'SUI', 'BRA', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'SRI', 'ARM',
       'CIV', 'KEN', 'BEN', 'GBR', 'GHA', 'SOM', 'NIG', 'MLI', 'AFG',
       'POL', 'CRC', 'PAN', 'GEO', 'SLO', 'GUY', 'NZL', 'POR', 'PAR',
       'ANG', 'VEN', 'COL', 'FRG', 'BAN', 'PER', 'ESA', 'PUR', 'UGA',
       'HON', 'ECU', 'TKM', 'MRI', 'SEY', 'TCH', 'LUX', 'MTN', 'SKN',
       'TTO', 'DOM', 'VIN', 'JAM', 'LBR', 'SUR', 'NEP', 'MGL', 'AUT',
       'PLW', 'LTU', 'TOG', 'NAM', 'AHO', 'UKR', 'ISL', 'ASA', 'SAM',
       'RWA', 'CRO', 'DMA', 'HAI', 'MLT', 'CYP', 'GUI', 'BIZ', 'YMD',
       'THA', 'BER', 'ANZ', 'SCG', 'SLE', 'PNG', 'YEM', 'IOA', 'OMA',
       'FIJ', 'VAN', 'MDA', 'BAH', 'GUA', 'YUG', 'LAT', 'SRB', 'IVB',
       'MOZ', 'ISV', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM', 'CAY', 'SVK',
       'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO', 'BOT', 'ROT',
       'KOR', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CZE', 'CRT', 'GEQ',
       'BOL', 'SAA', 'ANT', 'AND', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM',
       'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'LIE',
       'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO', 'BDI',
       'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK', 'TUV',
       'TGA', 'NFL', 'KOS', 'SSD', 'LES', 'ROC', 'EOR', 'LBN', 'AIN'],
      dtype=object)

In [6]:
olympics_dataset[olympics_dataset['Team']=='30. Februar']

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
56731,67840,Harald Fereberger,M,30. Februar,AUT,1952,Summer,Helsinki,Sailing,Sailing Mixed Two Person Keelboat,No medal
208998,254456,Harald Musil,M,30. Februar,AUT,1952,Summer,Helsinki,Sailing,Sailing Mixed Two Person Keelboat,No medal

In [7]:
olympics_dataset['Season'].unique()

array(['Summer'], dtype=object)

In [12]:
olympics_dataset[olympics_dataset['Name']=='Neymar Jnior']

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
140360,170377,Neymar Jnior,M,Brazil,BRA,2012,Summer,London,Football,Football Men's Football,Silver
140361,170378,Neymar Jnior,M,Brazil,BRA,2016,Summer,Rio de Janeiro,Football,Football Men's Football,Gold